.bgHero {
  background: url('./images/hero-desktop.webp') no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.logo00 {
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.3) !important; /* Adjust values as needed */
  /* display: none !important; */
  overflow: hidden;
}

.textShadow {
   text-shadow: 2px 1px 5px rgba(0,0,0,0.5);
}

.button {
   padding-inline: 3rem;
   padding-block: .8rem;
}

.textInput {
   outline: none;   
}

.trademark {
   transform: translateY(-2.1rem);
   /* display: none; */
}

@media screen and (max-width: 768px) {
   .banner {
      width: 90vw !important;
   }
   .banner p {
      font-size: .8rem;
   }
   .banner h1 {
      font-size: 2rem;
      line-height: 3rem;
   }
   .banner div {
      padding: .5rem .5rem .5rem 1rem;
   }
   .banner input {
      font-size: .8rem;
      color: rgb(84, 79, 79);
   }
   .banner input::placeholder {
      font-size: .8rem;
   }
   .banner .button {
      padding-inline: 1.5rem;
      padding-block: .5rem;
   }
   .navList {
      display: none;
   }
}

@media screen and (min-width: 760px) {
   .hamburger {
      display: none !important;
   }
}



